* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  background: linear-gradient(
    119.78deg,
    rgba(12, 112, 10, 0.88) -3.84%,
    #121212 72.48%
  );
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 13vh;
  display: flex;
  align-items: center;
  text-align: center;
  user-select: none;
}

.nav {
  margin-left: 50%;
}

.nav a {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 39px;
  padding: 12px;
  transition: 0.5s;
}

.logo {
  margin-left: 20%;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  width: 400px;
  margin-left: 10%;
  margin-top: 8%;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  width: 582px;
  color: #ffffff;
  margin-top: 18px;
  margin-left: 120px;
}

.main-button {
  background: #229220;
  border-radius: 4px;
  border: none;
  color: white;
  width: 150px;
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  text-align: center;
  margin-left: 120px;
  margin-top: 12px;
  transition: 0.8s;
}

.text-container {
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
}

main img {
  margin-left: 55%;
  margin-top: 2%;
  user-select: none;
  animation: swaying 5s infinite;
}

.nav a:hover {
  color: gray;
}

.main-button:hover {
  background-color: #046b00;
}

::selection {
  background-color: green;
}

@keyframes swaying {
  0% {
    margin-top: 1%;
    margin-left: 56%;
  }
  50% {
    margin-top: 2%;
    margin-left: 55%;
  }
  100% {
    margin-top: 1%;
    margin-left: 56%;
  }
}

@media (max-width: 1200px) {
  .text-container {
    margin-left: 5px;
  }
}

@media (max-width: 992px) {
  main img {
    display: none;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  h1,
  p,
  .main-button {
    margin: 0;
    margin-top: 30px;
  }
}

@media (max-width: 576px) {  
  h1 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  .nav {
    margin-left: 30%;
  }
}

@media (max-width: 375px) {
  .nav {
    margin-left: 10%;
  }
   
  .nav a {
    font-size: 15px;
  }

  p {
    width: 100%;
  }
}